trabajomonstrual/docker/examplePerdedor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="PokemonBattlePerdedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PokemonPerdedor" type="xs:string" />
        <xs:element name="MovimientoPerdedor" type="xs:string" />
        <xs:element name="DanyoMovimientoPerdedor" type="xs:decimal" />
        <xs:element name="Timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
